﻿@model List<TrainingMVC.Dtos.BookDto>

<div class="container">
    <div class="row">
        <div class="col s12">
            <h1 class="center-align grey-text text-darken-4">List of Books</h1>
        </div>
    </div>

    <br />
    <br />

    <div class="row">
        <div class="col s12">
            <a asp-controller="Book" asp-action="Insert" class="waves-effect red lighten-1 btn">
                <i class="material-icons right">add</i>
                Add New Book
            </a>
        </div>
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        My Books List
                    </span>
                    <div class="table-responsive">
                        <table class="highlight">
                            <thead>
                                <tr>
                                    <td>Book Id</td>
                                    <td>Book Name</td>
                                    <td>Book Author</td>
                                    <td>Price</td>
                                    <td>Category</td>
                                    <td colspan="2" style="text-align:center">
                                        <h6>Action</h6>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var book in Model)
                                {
                                    <tr>
                                        <td>@book.Id</td>
                                        <td>@book.BookName</td>
                                        <td>@book.Author</td>
                                        <td>@book.Price</td>
                                        <td>@book.Category</td>
                                        <td>
                                            @*<a class="waves-effect red-text text-lighten-1" asp-controller="Book" asp-action="Update"
                                                asp-route-id="@book.Id">Edit</a>*@
                                            @Html.ActionLink("Edit", "Update", "Book", new { id = book.Id }, new { @class = "waves-effect red-text text-lighten-1" })
                                        </td>
                                        <td>
                                            @*<a class="waves-effect red-text text-lighten-1" asp-controller="Book" asp-action="Delete"
                                                asp-route-id="@book.Id">Delete</a>*@
                                            @Html.ActionLink("Remove", "Delete", "Book", new { id = book.Id, page = ViewBag.currentPage }, new { @class = "waves-effect red-text text-lighten-1" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col s12">
                        <partial name="_Paging" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>