﻿@using TrainingMVC.Dtos;
@model Tuple<List<CategoryDto>, BookDto>
<div class="container">

    <div class="row">
        <div class="col s12">
            <h1 class="center-align grey-text text-darken-4">Add New Book</h1>
        </div>
    </div>

    <br />
    <br />

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <form id="insertForm" asp-controller="Book" asp-action="Insert"
                          method="post">
                        <div class="row">
                            <div class="input-field col s12">
                                <input asp-for="@Model.Item2.BookName">
                                @*<label>Book Name</label>*@
                                @Html.LabelFor(m => m.Item2.BookName)
                                <span asp-validation-for="@Model.Item2.BookName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input asp-for="@Model.Item2.Author">
                                @*<label>Book Author</label>*@
                                @Html.LabelFor(m => m.Item2.Author)
                                <span asp-validation-for="@Model.Item2.Author" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input asp-for="@Model.Item2.Price">
                                @*<label>Price</label>*@
                                @Html.LabelFor(m => m.Item2.Price)
                                <span asp-validation-for="@Model.Item2.Price" class="text-danger"></span>
                            </div>
                            <div class="input-field col s6">
                                <select asp-for="@Model.Item2.Category">
                                    <option value="" selected>Choose category</option>
                                    @foreach (var category in Model.Item1)
                                    {
                                        <option value=@category.CategoryName>@category.CategoryName</option>
                                    }
                                </select>
                                <span asp-validation-for="@Model.Item2.Category" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 center-align">
                                <button class="btn waves-effect red lighten-1" type="submit" name="action">
                                    Save
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>