﻿@using TrainingMVC.Dtos;
@model Tuple<List<CategoryDto>, BookDto>


    <div class="container">

        <div class="row">
            <div class="col s12">
                <h1 class="center-align grey-text text-darken-4">Update Book</h1>
            </div>
        </div>

        <br />
        <br />


        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <form asp-controller="Book" asp-action="Update"
                              method="post">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input asp-for="@Model.Item2.Id" readonly value="@Model.Item2.Id">
                                    <label>Book Id</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input asp-for="@Model.Item2.BookName" value="@Model.Item2.BookName">
                                    @*<label>Book Name</label>*@
                                    @Html.LabelFor(m => m.Item2.BookName)
                                    <span asp-validation-for="@Model.Item2.BookName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input asp-for="@Model.Item2.Author" value="@Model.Item2.Author">
                                    @*<label>Book Author</label>*@
                                    @Html.LabelFor(m => m.Item2.Author)
                                    <span asp-validation-for="@Model.Item2.Author" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <input asp-for="@Model.Item2.Price" value="@Model.Item2.Price">
                                    @*<label>Price</label>*@
                                    @Html.LabelFor(m => m.Item2.Price)
                                    <span asp-validation-for="@Model.Item2.Price" class="text-danger"></span>
                                </div>
                                <div class="input-field col s6">
                                    <select asp-for="@Model.Item2.Category">
                                        @foreach (var category in Model.Item1)
                                        {
                                            @*TagHelper doesn't allows C# code in their tag area.
                                                turn an option element into a regular html tag by using the character !.*@
                                            <option value=@category.CategoryName>
                                                @category.CategoryName
                                            </option>
                                        }
                                    </select>
                                    <span asp-validation-for="@Model.Item2.Category" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 center-align">
                                    <button class="btn waves-effect red lighten-1" type="submit" name="action">
                                        Update
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>