﻿<ul class="pagination">
    @if (ViewBag.currentPage > 1)
    {
        <li class="waves-effect">
            <a asp-controller="Book" asp-action="Index"
               asp-route-page="@(ViewBag.currentPage - 1)">
                <i class="material-icons">chevron_left</i>
            </a>
        </li>
    }
    else
    {
        <li class="disabled">
            <a><i class="material-icons">chevron_left</i></a>
        </li>
    }
    @{
        var currentPage = (int)ViewBag.currentPage;
        var totalPage = (int)ViewBag.totalPage;

        const int PageLeft = 2;
        const int PagesRight = 2;

        var fromPage = Math.Max(1, currentPage - PageLeft);

        var toPage = Math.Min(totalPage, currentPage + PagesRight);

        if (totalPage - toPage == 1)
        {
            toPage = totalPage;
        }

        if (fromPage > 1)
        {
            <li class="waves-effect">
                <a asp-controller="Book" asp-action="Index"
                   asp-route-page="1">
                    1
                </a>
            </li>

            if (fromPage > 2)
            {
                var middlePage = (int)Math.Ceiling((double)((fromPage + 1) / 2));
                <li class="waves-effect">
                    <a asp-controller="Book" asp-action="Index"
                       asp-route-page="@middlePage">
                        ...
                    </a>
                </li>
            }
        }

        for (int i = fromPage; i <= toPage; i++)
        {
            <li class="@(ViewBag.currentPage == i ? "active" : "waves-effect" )">
                <a asp-controller="Book" asp-action="Index" asp-route-page="@i">@i</a>
            </li>
        }

        if (toPage < totalPage)
        {
            int middlePage = (int)Math.Floor((double)((totalPage + toPage) / 2));
            <li class="waves-effect">
                <a asp-controller="Book" asp-action="Index"
                   asp-route-page="@middlePage">
                    ...
                </a>
            </li>
            if (toPage < totalPage - 1)
            {
                <li class="waves-effect">
                    <a asp-controller="Book" asp-action="Index"
                       asp-route-page="@totalPage">
                        @totalPage
                    </a>
                </li>
            }
        }
    }

    @if (ViewBag.currentPage < ViewBag.totalPage)
    {
        <li class="waves-effect">
            <a asp-controller="Book" asp-action="Index"
               asp-route-page="@(ViewBag.currentPage + 1)">
                <i class="material-icons">chevron_right</i>
            </a>
        </li>
    }
    else
    {
        <li class="disabled">
            <a><i class="material-icons">chevron_right</i></a>
        </li>
    }
</ul>