﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    if (HttpContextAccessor.HttpContext.Session.GetString("username") == null)
    {
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a class="grey-text text-lighten-5" asp-controller="Login" asp-action="Login">
                    Login
                    <i class="material-icons left">login</i>
                </a>
            </li>
        </ul>
    }
    else
    {
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a class="grey-text text-lighten-5" asp-controller="Login" asp-action="Logout">
                    Logout
                    <i class="material-icons left">logout</i>
                </a>
            </li>
        </ul>
    }
}